*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    

}
.header .logo{
  color:rgb(247, 250, 250);
  font-size:1.8rem;
}

.header span{
    padding: 2px;
}
#menu{
    margin-right:32px;
  font-size:1.8rem;

}
.header{
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height: 50px;
  padding: 5px;
  background:#b2744c;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.logo{
  font-size:1.2rem;
  margin-left:14px;
  font-weight:800;
  cursor:pointer;
  text-decoration: none;
}
.nav a{
 color: rgb(222, 220, 220);
 cursor: pointer;
 font-size: 1.1rem;
 margin: 0px 10px 0px 10px;
 font-family: 'Abril Fatface';
 font-weight: bold;
  text-decoration: none;
  margin-right: 30px;


}


.main-container{
  display: flex;
  margin-top: 70px;
 background-color: #f6f4f4;
       width: 100%;
      height: 100%;
    justify-content: space-around;
}

.menu-item{
  width:14%;
  margin-left:-44px;
}

.menu-item h1{
  text-align: center;
  width:193px;
  color:white;
  background-color: black;
}

#item-name{
  background-color: white;
  border: 1px solid black;
  width: 14vw;
  height: 100vh;

}

#item-name ul{
  list-style: none;
  text-align: center;
}

#item-name li{
  padding-top: 40px;
   font-family: 'Abril Fatface';
   font-size: 1.4rem;
 font-weight: bold;

}

#item-name li:hover{
  color: rgb(0, 110, 255);
  cursor: pointer;
}

.section{
  margin-left:10px;
 background-color: white;
 border: 1px solid rgb(36, 32, 32);
  width: 40%;
  height: 100%;
}
.item-container{
  display: grid;
  grid-template-columns: auto auto ;
}
#item-box{
  width:200px;
  height:100px;
  background-color: rgb(242, 243, 243);
  padding: 10px;
  margin: 20px 2px 2px 6px;
  border-radius: 12px;
  cursor: pointer;
}

/* input box size increase */
#item-box input{
  margin-top: 4px;
  width:30px;
  height: 20px;
}
.Item-name-select-btn{
 display: flex;
  justify-content: space-between;
  margin-top: -10px;
  height: 52px;
  
}
#item-box h1{
  font-size: 1.4rem;
}

.billing{
 background-color: white;
 border:1px solid rgb(52, 44, 44);
  width: 30%;
  margin-right:20px;
  height: 600px;
}
#billing-page, #coffee-text{
  text-align: center;
  color: rgb(5, 5, 5);
  border-bottom: 2px solid red;
}

#qunatity{
    background-color:white;
    border: 1px solid rgb(136, 111, 111);
    border-radius: 4px;
    width:10px;
    padding: 1px 8px 1px 8px;
}

#qunatity:hover{
    background-color: rgb(168, 191, 195);
    border-color: aliceblue;
    cursor: pointer;
}
#make-bill{
  width:100%;
  font-size: 1.0rem;
  padding:3px;
  color:black;
  font-family: 'Abril Fatface';
 font-weight: bold;
}

#make-bill:hover{
 border:2px solid rgb(247, 250, 251);
 border-radius:4px;
 cursor: pointer;
 color:white;
 background-color:rgb(193, 193, 181) ;
}

#item-box span{
  display: flex;
  margin-top: 18px;
  padding: 3px;
  justify-content: space-around;
  background-color: #c9c9ab;
}



 .bill-box{
  background-color: #e3dfdd;
} 

 #thData{
 padding-left:70px;
}


#selected-items td{
  padding-top: 2px;
  padding-left:70px;

}


#print-bill{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: one;
  margin-top: 20px;
  padding: 15px;
  background: #f2f2f2;
}
#print-bill h2{
  text-align: center;
} 
.item-list td{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding-left: 130px;

}

.bill-time-Title{
 display: flex;
    align-items: center;
    justify-content: space-around;
}

#bill-title div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:-22px;
}
#bill-title h2{
 padding: 50px;
  font-family: sans-serif;

}
.item-list div{
 width:68%;
 height: 20px;
  background-color:rgb(226, 219, 219);
  margin: 8px;
  margin-top:-2px;
  display: flex;
  align-items: center;
  justify-content: unset;
}
.item-list span{
  padding: 50px;
  font-family: sans-serif;
  justify-content: center;

}

#Bill-Box{
      border: 2px solid black;
      border-radius: 4px;
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
}
#print-btn{
  width:50%;
   margin-left:25%;
   margin-top: 2px;
    font-size:large; 
    font-weight: bold; 
    font-family: 'Abril Fatface';
}

#print-btn:hover{
  cursor: pointer;
  background-color: rgb(137, 53, 38);
  color: rgb(250, 249, 249);
}
